body{
	background-image: url('https://casaydiseno.com/wp-content/uploads/2018/01/pared-de-piedras-iluminacion.jpg');
    background-position:0px 2px;
    margin:20px;
    
    padding:12px;
    
}
*{
	box-sizing: border-box;
	font-family: sans-serif;
}

h1{
	text-align: center;
	color: #ffffff;
	margin:30px 0px -15px;
}

.quiz_wrapper{
	height: 400px;
	width: 650px;
	background-color: white;
	margin:50px auto;
	border-radius: 8px;
	padding: 30px;
}

.quiz_wrapper .question{
	padding: 15px;
	background-color:#673ab7;
	border-radius: 8px;
	color:#ffffff;
	font-size:20px;
	float: left;
	width: 100%;

}
.quiz_wrapper .options{
	float: left;
	width: 100%;
}

.quiz_wrapper .options ul{
	list-style: none;
	padding: 0px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.quiz_wrapper .options ul li{
	display: inline-block;
	background-color:#9e9e9e;
	width: 47%;
	padding: 15px;
	border-radius:8px;
	margin-top: 25px;
	font-size: 15px;
	color:#ffffff;
	box-shadow: 0px 3px 0px grey;
	cursor: pointer;
	outline: none;
	text-align: center;
}
.quiz_wrapper .options ul li:active {
    box-shadow: 0px 3px 0px transparent;
}
.quiz_wrapper .options ul li.correct{
    background-color: green;
    box-shadow: 0px 3px 0px green;
}
.quiz_wrapper .options ul li.wrong{
background-color: red;
box-shadow: 0px 3px 0px red;
}
.quiz_wrapper .score{
    float: left;
    width: 100%;
    padding: 25px 0px;
}
.quiz_wrapper .score .next{
    width: 40%;
	float: left;
}

.quiz_wrapper .score .next button{
    padding: 15px 80px;
    color: rgb(255, 255, 255);
    background-color: #ff9800;
    border : none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 0px #c97a06;
    outline: none;

}
.quiz_wrapper .score .next button:active{
    box-shadow: 0px 3px 0px transparent;	
    }

.quiz_wrapper .score .score-card{
    width: 60%;
    float: left;
}
.quiz_wrapper .score .score-card{
    font-size: 20px;
    color: black;
    line-height: 50px;
    text-transform: uppercase;
    
}
.quiz_wrapper .score .score-card span{
	background-color: #4caf50;
	padding: 5px 20px;
	border-radius: 8px;
	color:#ffffff;

}
.quiz_wrapper{
    color: blueviolet;
}